<div class="container">

    <div class="row text-center">
        <h1 class="text-center">BAIKIT</h1>

        <div>
            <p>
                Current Balance: <strong>NGN 0.00</strong>
            </p>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-3">
           <ul>
               <li><a [routerLink]="['recipient/create']">Create Recipient</a></li>
               <li><a [routerLink]="['recipient']">View Recipients</a></li>
               <li><a >Send Money</a></li>
               <li><a>Transaction History</a></li>
           </ul> 
        </div>
    </div>
</div>