<div class="container">
        <div class="row padding-top30">
            <div class="col-lg-12 ">
                    <h1 class="text-center">Beneficiaries</h1>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered ">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Bank</th>
                    <th>Account Number</th>
                    <th>Action</th>
                </tr>

                <tr *ngFor="let beneficiary of beneficiaries">
                    <td>{{beneficiary.name}}</td>
                    <td>{{beneficiary.email}}</td>
                    <td>{{beneficiary.details.bank_name}}</td>
                    <td>{{beneficiary.details.account_number}}</td>
                    <th>
                        <button class="btn btn-success">Update</button>
                        <button class="btn btn-danger">Delete</button>
                    </th>
                </tr>
            </table>
        </div>

</div>